.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldLine {
  display: flex;
}

.I-element {
  background-color: violet;
  width: 40px;
  height: 40px;
}
.O-element {
  width: 40px;
  height: 40px;
  background-color: wheat;
}
.X-element {
  width: 40px;
  height: 40px;
  background-color: black;
}

.G-element {
  width: 40px;
  height: 40px;
  background-color: red;
}
.P-element {
  width: 40px;
  height: 40px;
  background-color: green;
}
